{% if about_data %}
<section class="about section" id="about">
    <h1 class="section-title-1">About Me</h1>
    <h2 class="section-title-2">About Me</h2>
    <div class="container">
        <div class="about-img">
            <img src="{{about_data.image.url}}" alt="">
        </div>

        <div class="description">
            <div class="about-info">
                <h2>I'm {{about_data.full_name}}</h2>
                <h4>A <span class="job">{{about_data.job_title}}</span></h4>
                <p>
                    {{about_data.description}}
                </p>
            </div>
                <div class="experience">
                    {% if about_data.years_of_experience > 0 %}
                    <div class="yers-experience">
                        <span class="experience-spans">+{{about_data.years_of_experience}}</span>
                        <p>years experience</p>
                    </div>
                    {% endif %}
                    {% if about_data.projects_quantity > 0 %}
                    <div class="project-quantity">
                        <span class="experience-spans">+{{about_data.projects_quantity}}</span>
                        <p>succesful projects</p>
                    </div>
                    {% endif %}
                </div>
        </div>
    </div>
</section>
{% else %}
<section class="about section" id="about">
    <h1 class="section-title-1">About Me</h1>
    <h2 class="section-title-2">About Me</h2>
    <div class="container">
        <div class="about-img">
            <img src="images/logo.jpeg" alt="image">
        </div>

        <div class="description">
            <div class="about-info">
                <h2>I'm Pouria Shaigani</h2>
                <h4>A <span class="job">backend programmer</span></h4>
                <p>
                    I am a computer science student with a passion for programming and web development. Proficient in Python, Django, HTML, and CSS, I specialize in building captivating and functional websites.
                </p>
            </div>
            <div class="experience">
                <div class="yers-experience">
                    <span class="experience-spans">+1</span>
                    <p>years experience</p>
                </div>
                <div class="project-quantity">
                    <span class="experience-spans">+2</span>
                    <p>succesful projects</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}