<section class="contact section" id="contact">
    <h1 class="section-title-1">contact</h1>
    <h2 class="section-title-2">contact</h2>
    <div class="container contact-container">
        <div class="contact-info">
            <div><i class="fas fa-mobile-alt"></i> {{site_info.phone}}</div>
            <div><i class="fas fa-envelope"></i> {{site_info.email}}</div>
            <div><i class="fas fa-map-marker-alt"></i> {{site_info.address}}</div>
        </div>
        <div class="contact-form">
            <input type="text" name="phone" id="" placeholder="phone" autocomplete="off">
            <input type="email" name="email" id="" placeholder="email" autocomplete="off">
            <input type="text" name="name" id="" placeholder="name" autocomplete="off">
            <textarea name="content" id="" placeholder="what do you want to say?" autocomplete="off"></textarea>
            <button class="btn">submit</button>
        </div>
    </div>
</section>