<header>
    <div class="navbar">
        <a href="" class="logo" id="headerLogo">{% if site_info.site_name%}{{site_info.site_name}} {%else%}siteName{%endif%}</a>
        <nav class="nav-items" id="navItems">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#skills">skills</a>
            <a href="#portfolio">portfolio</a>
            <a href="#services">services</a>
            <a href="#contact">contact</a>
        </nav>
        <div class="burger" id="burger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
</header>