{% load custom_tags %}
{% if resumes %}
<section class="portfolio section" id="portfolio">
    <h1 class="section-title-1">resume</h1>
    <h2 class="section-title-2">resume</h2>
    <div class="container">
        <div class="grid">
            {% for resume in resumes %}
            <div class="card portfolio-card">
                <img src="{{resume.image.url}}" alt="">
                <div class="portfolio-info">
                    <h4 class="portfolio-title">{{resume.title}}</h4>
                </div>
            </div>
            {% modal resume.id %}
            {% endfor %}
        </div>
    </div>
</section>



{% endif %}
