<section class="portfolio section" id="portfolio">
    <h1 class="section-title-1">resume</h1>
    <h2 class="section-title-2">resume</h2>
    <div class="container">
        <div class="grid">
            <div class="card portfolio-card">
                <img src="images/blog.jpg" alt="image">
                <div class="portfolio-info">
                    <h4 class="portfolio-title">blog</h4>
                </div>
            </div>
            <div class="card portfolio-card">
                <img src="images/social-media.jpg" alt="image">
                <div class="portfolio-info">
                    <h4 class="portfolio-title">socialmedia</h4>
                </div>
            </div>
            <div class="card portfolio-card">
                <img src="images/shop.jpg" alt="image">
                <div class="portfolio-info">
                    <h4 class="portfolio-title">online shop</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="portfolio-modal">
    <div class="modal-container">
        <div class="close-modal-btn">&times;</div>
        <img src="images/logo.jpeg" alt="image">
        <div class="modal-info">
            <h4>title</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente est expedita enim
                exercitationem quo. Ullam ab dolores libero aperiam recusandae numquam velit nisi
                ad omnis eos. Impedit ducimus accusamus ullam.
            <br>
            <a href="">go to link</a>
            </p>
        </div>
    </div>
</div>