{% if services %}
<section class="services section" id="services">
    <h1 class="section-title-1">Services</h1>
    <h2 class="section-title-2">Services</h2>
    <div class="container">
        <div class="grid">
            {% for service in services %}
            <div class="card service-card">
                <h2>
                    <i class="fa-solid fa-code fa-2xl"></i>
                </h2>
                <h2>{{service.title}}</h2>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}