{% if skills %}
<section class="skills section" id="skills">
    <h1 class="section-title-1">Skills</h1>
    <h2 class="section-title-2">Skills</h2>
    <div class="container">
        <div class="grid">
            {% for skill in skills %}
            <div class="card skill-card">
                <h3 class="title">{{skill.title}}</h3>
                <h6>{{skill.level}}</h6>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
<section class="skills section" id="skills">
    <h1 class="section-title-1">Skills</h1>
    <h2 class="section-title-2">Skills</h2>
    <div class="container">
        <div class="grid">
            <div class="card skill-card">
                <h3 class="title">skill title</h3>
                <h6>skill-level</h6>
            </div>
        </div>
    </div>
</section>
{% endif %}